@charset "UTF-8";

body{
  background-color: #fffff3;
}
.header-main{
  position: relative;
}
.header-main__visual{
  width: 100%;
}
.header-main__logo{
  position: absolute;
  bottom: 60px;
  left: 60px;
}
.header-txt{
  text-align: center;
}
.header-txt__box{
  margin: 100px 0;
}
.header-txt__box h1{
  margin-bottom: 50px;
  font-size: 3.2rem;
  font-weight: bold;
}
.header-txt__box p{
  font-size: 1.6rem;
  line-height: 2.0;
}
main{
  background-image: url(images/bg-content.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
.main-title{
  text-align: center;
  margin-bottom: 50px;
  color: white;
  font-size: 3.2rem;
  line-height: 1.0;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", 游ゴシック, "Yu Gothic", sans-serif;
  font-weight: 700;
}
.main-content{
  width: 860px;
  margin: 0 auto;
  border-style:solid;
  border-width: 50px;
  border-color: rgba(0, 0, 0, 0.3);
}
.main-content__box{
  display: flex;
  justify-content: center;
}
.main-content__box:nth-child(even){
  flex-direction: row-reverse;
}
.main-content__box-txt{
  background-color: #fffff3;
  padding: 40px 26px;
}
.main-content__box-txt h2{
  font-size: 2.0rem;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.75;
}
.main-content__box-txt p{
  font-size: 1.6rem;
  line-height: 1.75;
}
.footer-main{
  text-align: center;
  padding: 100px 0;
}
.footer-main__txt{
}
.footer-main__txt h1{
  margin-bottom: 50px;
  font-size: 3.2rem;
  font-weight: bold;
}
.footer-main__txt p{
  font-size: 1.6rem;
  line-height: 2.0;
  margin-bottom: 70px;
}
.footer-main__logos{
  display:flex;
  justify-content:space-between;
  width: 780px;
  margin: 0 auto;
}
.footer-page{
  background-color: black;
  color: white;
  padding: 24px 20px;
}
.footer-page__txt{
  display:flex;
  justify-content: center;
  position: relative;
}
.footer-page__txt p{
  font-size: 1.2rem;
}
.footer-page__contact{
  display: flex;
  position: absolute;
  right: 0;
}
.contact-form a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid;
}
.contact-form a:hover{
  border-bottom: none;
}
.margin-right{
  margin-right: 20px;
}
